@charset 'utf-8';
/*-----------------------------------------------------------------*/
/* Reset
/*-----------------------------------------------------------------*/

/*
----------------------------
default font style
----------------------------
*/
@import url('font.css');

* {
	-webkit-tap-highlight-color:transparent;
}
*:before,
*:after {
	display:inline-block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
ol, ul, li, dl, dt, dd,
fieldset, form, label, legend,
table, textarea, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, select, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	color:inherit;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-style:normal;
	vertical-align:middle;
	outline-width:0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section {display:block;}
body {line-height:normal;}
ol, ul, li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
li img {vertical-align:top;}

input {
	border-radius:0;
}

input[type=radio],
input[type=checkbox],
input[type=date],
select {
	position:relative; 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align:middle;
	background:transparent;
}

input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field {
    color: #898989;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
    display:none;
}

input[type=date]::-webkit-calendar-picker-indicator {
	display:inline-block;
	opacity:0;
  width:28px;
  height:28px;
  padding:0;
  margin-right:3%;
  background:transeparent;
}

input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

input[type=text] {
	-webkit-appearance:textfield;
	-moz-appearance:textfield;	
	appearance:textfield;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected, 
textarea:-internal-autofill-previewed, 
textarea:-internal-autofill-selected, 
select:-internal-autofill-previewed, 
select:-internal-autofill-selected {
	background-color:rgba(225,225,225,0) !important;
}

button {
	cursor:pointer;
}

button:active:enabled {
	transform:scale(0.97);
	-webkit-transform:scale(0.97);
	-moz-transform:scale(0.97);
	-ms-transform:scale(0.97);
}

a, 
a:hover, 
a:active, 
a:focus {
	text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

strong {
	font-weight:800;
}

legend,
caption,
.hidden-txt {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	border: none;
	padding:0;
	margin-left:-1px;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
}

/* Placeholder */
::-webkit-input-placeholder {
	color: #898989 !important;
	font-size: 1.6rem;
}
:-ms-input-placeholder {
	color: #898989 !important;
	font-size: 1.6rem;
}
::-moz-placeholder {
	color: #898989 !important;
	font-size: 1.6rem;
}
:-moz-placeholder {
	color: #898989 !important;
	font-size: 1.6rem;
}
::placeholder {
	color: #898989 !important;
	font-size: 1.6rem;
}
.placeholderTxt {
	color: #898989 !important;
	font-size: 1.6rem;
}

/* Selection */
::-moz-selection {
	text-shadow: none;
	background: #ddd;
}
::selection {
	text-shadow: none;
	background: #ddd;
}
::-webkit-scrollbar {display:none; width: 8px; height: 8px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: none; height: 10px; background:#fff;}
::-webkit-scrollbar-track {background: #f1f1f1; -webkit-border-radius: 0; border-radius:0; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0);}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background:#660d98; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0);}

html {
	scrollbar-arrow-color:#f1f1f1;
	scrollbar-3dlight-color:#f1f1f1; 
	scrollbar-darkshadow-color:#f1f1f1; 
	scrollbar-face-color:#660d98; 
	scrollbar-hightlight-color:#f1f1f1; 
	scrollbar-shadow-color:#f1f1f1; 
	scrollbar-track-color:#f1f1f1;
}
