
@charset 'utf-8';

/*-----------------------------------------------------------------*/
/* common
/*-----------------------------------------------------------------*/

html, body {width:100%; height:100%;}
html {font-size:32%; -webkit-text-size-adjust:none;}
body {font:400 16px 'NanumSquare', '맑은 고딕', '나눔 고딕', sans-serif; vertical-align:middle; min-width:320px; color: #000; letter-spacing: 0; overflow:hidden; overflow-y:scroll;   -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: auto;}
em, b, span, p, strong {word-break:keep-all; white-space:normal; word-wrap:break-word; overflow-wrap:break-word;}
button, input, select {font:inherit;}

#skipNavigation dd {font-size:0; width:100%; position:relative;}
#skipNavigation dd a {display:inline-block; width:100%; line-height:50px; position:absolute; left:0; top:-50px; text-align:center; background-color:#6222ce; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -ms-transition:all 0.2s ease-out;}
#skipNavigation dd a em {display:inline-block; line-height:1; font-size:16px; font-weight:700; color:#fff; letter-spacing:0; transform:rotate(-0.03deg); -webkit-transform:rotate(-0.03deg); -moz-transform:rotate(-0.03deg); -ms-transform:rotate(-0.03deg);}
#skipNavigation dd a:focus {top:0; z-index:9999;}

.txt-rendering {display:inline-block; transform:rotate(-0.03deg); -webkit-transform:rotate(-0.03deg); -moz-transform:rotate(-0.03deg); -ms-transform:rotate(-0.03deg);}
.txt-color-purple {color:#660d98 !important;}
.txt-color-purple2 {color:#8e76ac !important;}
.txt-color-purple3 {color:#d3b0ff !important;}
.txt-color-purple4 {color:#753cbe !important;}
.txt-color-purple5 {color:#3c0085 !important;}
.txt-color-darkPurple {color:#110026 !important;}
.txt-color-mint {color:#10cfc9 !important;}
.txt-color-darkGreen {color:#00605d !important;}

.ft-xlg {font-size:7.5rem; font-weight:800;}
.ft-lg {font-size:3.6rem;}

.clear::after {display:block; clear:both; content:'';}
.fit-cover {width:100%; height:100%; object-fit:cover;}

.heading-title-wrap-03 {font-size:3.5rem; color:#fff;}
.heading-title-wrap-03 * {display:inline-block;}
.heading-title-wrap-03 strong {font-size:5.5rem; margin-bottom:20px;}
#wrap .heading-title-wrap-03 strong {margin-bottom:6rem;}
#wrap .heading-title-wrap-03 em {font-weight:300;}

.heading-title-wrap-04 {font-size:4.5rem; color:#fff;}
.heading-title-wrap-04 * {display:inline-block; letter-spacing:-0.5px;}
.heading-title-wrap-04 + [class*= description] {margin-top:20px;}

.pc-only {display:none !important;}

#layout,
#wrap,
main,
footer {width:100%; overflow:hidden;}

#layout {background-color:#110026; min-height:100%; padding-bottom:66px;}
#wrap {padding-top:11rem;}

#layout::after,
header::after,
main::after,
footer::after {display:block; clear:both; content:'';}

[class*=inner] {padding:0 4rem; width:100%; max-width:1200px; margin:0 auto; position:relative;}
[class*=inner] + [class*=inner] {margin-top:12rem;}

header {width:100%; height:66px; position:fixed; bottom:0; left:0; z-index:111; box-shadow:0 -3px 7px 2px rgba(17, 0, 38, 1);}
header hgroup {height:100%; background:#110026;}
header hgroup span {display:inline-block; position:absolute; top:20px; right:20px;}
header hgroup .logo-wrap {width:115px; height:42px; top:15px; right:auto; left:20px; background-image:url('../img/logo.png'); background-repeat:no-repeat; background-size:100% auto; z-index:10;}
header hgroup .logo-wrap a {display:inline-block; width:100%; height:100%;}
header hgroup .button-area {display: inline-block; position: absolute; top: 20px; right: 20px;}
header hgroup .button-area .menuAll {width: 26px; height: 19px; background-image: url(../img/menu.png); background-repeat: no-repeat; background-size: 100% auto;}
header hgroup .button-area .btn-prev,
header hgroup .button-area .btn-next {width: 15px; height: 26px; background-repeat: no-repeat; background-size: 100% auto;}
header hgroup .button-area .btn-prev {background-image: url(../img/swiper-prev.png);}
header hgroup .button-area .btn-next {background-image: url(../img/swiper-nxt.png);}
header hgroup .button-area button {background-color:transparent;}
header hgroup .button-area button + button {margin-left:20px;}
header nav {opacity:0; width:82%; max-width:700px; padding:10rem 3rem 66px 3rem; position:fixed; top:0; left:-100%; height:100%; overflow:hidden; background-color:#110026; transition:all ease-in-out 0.4s; -webkit-transition:all ease-in-out 0.4s; -moz-transition:all ease-in-out 0.4s; -ms-transition:all ease-in-out 0.4s; box-shadow: 3px 0px 7px 2px rgba(0, 0, 0, 0.3);}
header .btn-close {display:none; position:fixed; bottom:20px; right:20px; width:26px; height:26px; background-image: url('../img/btn-close.png'); background-size: 100% auto; background-repeat: no-repeat; background-color:transparent;}
header nav p {font-size:4rem; font-weight:300; color:#fff; margin-bottom:5rem;}
header nav .category {overflow:hidden; overflow-y:auto; padding:5rem 0; max-height:-webkit-calc(100vh - 35rem); max-height:-moz-calc(100vh - 35rem); max-height:calc(100vh - 35rem);}
header nav ul li {font-size:0;}
header nav ul li a {width:100%; line-height:1; font-size:5.8rem; color:#fff; vertical-align:top; font-weight:300; position:relative;}
header nav ul li a:before,
header nav ul li a:after {position:absolute; background-color:rgba(142, 118, 172, 0.6); content:'';}
header nav ul li a:before {width:1px; height:15px; right:3rem; top:50%; margin-top:-13px; transform-origin:0 100%; -webkit-transform-origin:0 100%; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);}
header nav ul li a:after {width:30px; height:1px; right:3rem; top:50%; margin-top:2px;}
header nav ul li + li {margin-top:4rem;}
header.open .button-area {display:none;}
header.open nav {opacity:1; left:0;}
header.open .btn-close {display:block;}

footer {text-align:center; font-size:3.2rem; padding:4rem 0; color:#ccc;}
footer *:not(p) {display:inline-block;}
footer ul {width:100%; margin-bottom:8rem;}
footer ul li + li {margin-left:5rem;}
footer ul .privacy-policy {font-weight:700;}
footer address p {line-height:1.5;}
footer address p:first-of-type {margin-bottom:3rem;}
footer address strong {font-size:4.8rem;}
footer address b {font-weight:800;}
footer .copy {margin-top:8rem;}

/*main*/
main .heading {width:100%; height:100vh;}
main .heading > div {width:100%; padding:340px 0 50px; text-align:center; border-bottom-right-radius: 50px;}
main .heading > div::before {width:100%; height:225px; background-size:auto 100%; background-repeat:no-repeat; background-position:center 0; position:absolute; left:0; top:70px; content:'';}
main .heading .btn-wrap {margin-top:40px;}
main .section-01 .heading > div {background-color:#f4eaff;}
main .section-01 .heading > div::before {background-image:url('../img/main-bnr-01.png');}

main .section-02 .heading > div {background-color:#753cbe;} 
main .section-02 .heading > div::before {background-image:url('../img/main-bnr-02.png');}

main .section-03 .heading > div {background-color:#10cfc9;} 
main .section-03 .heading > div::before {background-image:url('../img/main-bnr-03.png');}

main .container {position:relative; z-index:-1; opacity:0; transition:opacity 0.3s ease-in-out; -webkit-transition:opacity 0.3s ease-in-out; -moz-transition:opacity 0.3s ease-in-out; -ms-transition:opacity 0.3s ease-in-out; margin-top:-webkit-calc(450px - 100vh); margin-top:-moz-calc(450px - 100vh); margin-top:-ms-calc(450px - 100vh);}
main .container.active {z-index:10; opacity:1;}

main .contents > div {padding:9rem 0;}
main .contents > div:last-of-type {padding-bottom:20rem;}
main .contents .inner > [class*= btn-wrap] {margin:10rem 0 0;}
main .contents .inner > div + div {margin-top:10rem;}
main .contents [class*=grid-wrap] {width:100%; display:flex; display:-ms-flexbox; justify-content: space-between; align-content: start; flex-wrap:wrap; flex-direction:row; margin-top:2rem;}
main .contents [class*=grid-wrap] li {align-items:flex-start; justify-items:center; margin:2rem 0; text-align:center;}
main .contents .grid-item-2 li {width:48%;}
main .contents .grid-item-3 li {width:30%;}
main .contents .grid-item-4 li {width:20%;}
main .contents [class*=grid-wrap] li img {width:100%;}
main .contents [class*=grid-wrap] li figcaption {padding-top:2rem; font-size:3.2rem;}

main .contents [class*=description] {line-height:1.4; letter-spacing:-1px; word-break:keep-all; white-space:normal; word-wrap:break-word; overflow-wrap:break-word;}
main .contents .description-01,
main .contents .description-04 {line-height:1.2;}

main .contents [class*=dash-list],
main .contents [class*=dot-list] {margin-top:4rem;}
main .contents [class*=dash-list] li {font-size:3.6rem; margin-left:4rem;} 
main .contents [class*=dash-list] li:before {text-indent:-4rem; content:'-';}
main .contents [class*=dot-list] li {font-size:3.6rem; margin-left:3rem;} 
main .contents [class*=dot-list] li:before {text-indent:-4rem; content:'ㆍ';} 

main .contents .right {width:76%; float:right;}
main .contents .center {float:left;}
main .contents .right + [class*= btn-wrap],
main .contents .center + [class*= btn-wrap] {float:left; clear:both;}
main .contents dl + dl {margin-top:10rem;}
main .contents dl dt,
main .contents dl dd {display:inline-block; width:100%;}
main .contents dl dd {word-break: keep-all; word-wrap: break-word; overflow-wrap: break-word; white-space: normal;}

main .story > div:first-of-type {background-color:#753cbe;} 
main .story > div:nth-of-type(2) {background-color:#f4eaff;} 
main .story dl dt {width:auto; padding:15px 25px; min-width:190px; border-bottom-right-radius:30px; background-color:#10cfc9; box-shadow:5px 4px 4px 2px rgba(96, 44, 174, 1);}
main .story dl dt strong {font-size:4rem; letter-spacing:2px;}
main .story dl dd {width:100%; margin-top:7rem; font-size:4rem; color:#fff; font-weight:300; line-height:1.4;}

main .nftContents > div:first-of-type {background-color:#753cbe;}
main .nftContents .heading-title-wrap-04 + .description {margin-top:4rem;}
main .nftContents .nft-contents {margin-top:7rem;}
main .nftContents .nft-contents li + li {margin-top:6rem;}
main .nftContents .feature {background-color:#fff; border-radius:20px; font-size:0; padding:5rem 0; margin-bottom:6rem; opacity:0;}
main .nftContents .feature * {display:inline-block;}
main .nftContents .feature > span {width:50%; text-align:center; position:relative;}
main .nftContents .feature > span b {font-size:4rem; font-weight:700; color:#333; margin-top:5rem; opacity:0; transform:translateY(70%); -webkit-transform:translateY(70%); -moz-transform:translateY(70%); -ms-transform:translateY(70%);}
main .nftContents .feature .art span {width:131px; height:132px; background-image:url(../img/mob/3d-contents.png); background-size:100% auto; background-repeat:no-repeat;}
main .nftContents .feature .nft span {width:124px; height:125px; background-image:url(../img/mob/nft-contents.png); background-size:100% auto; background-repeat:no-repeat;}
main .nftContents .feature .pic {opacity:0; transform:scale(0.6); -webkit-transform:scale(0.6); -moz-transform:scale(0.6); -ms-transform:scale(0.6);}
main .nftContents .feature > span + span::before {position:absolute; width:1px; top:0px; bottom:0px; left:0; background-color:#f4eaff; content:'';}

main .service > div:first-of-type {background-color:#10cfc9;}
main .service dl dt strong {font-size:4rem;}
main .service dl dd {margin-top:4rem; color:#00605d;}
main .service dl dd ul:first-child {margin-top:0;}
main .service dl dd b {font-size:3.6rem;}
main .service dl dd img {max-width:100%; margin-top:4rem;}

.swiper-button-disabled {opacity:0.5 !important;}
.swiper-pagination {position:fixed; bottom:80px !important;}
.swiper-pagination-bullet {width:16px; height:16px; border-radius:50%; margin:0 7px !important; border:2px solid rgba(255, 255, 255, 0.5); background-color:transparent; opacity:1; transition:all ease-in-out 0.4s; -webkit-transition:all ease-in-out 0.4s; -moz-transition:all ease-in-out 0.4s; -ms-transition:all ease-in-out 0.4s;}
.swiper-pagination-bullet-active {width:32px; background-color:#fff; border-color:rgba(255, 255, 255, 1); border-radius:10px;}

/*sub*/
#wrap .contents .heading-title-wrap-03 + div {margin-top:12rem;}
#wrap .contents .qna-list dl + dl {margin-top:10rem;}
#wrap .contents .qna-list dl dt,
#wrap .contents .qna-list dl dd {display:inline-block; width:100%;}
#wrap .contents .qna-list dl dd,
#wrap .contents .contact dl dd {margin-top:3rem;}
#wrap .contents .contact dl dd .map-area {width:100%; min-height:350px; overflow:hidden;}
#wrap .contents .contact dl dd .map-area > img {width:100%;}
#wrap .contents .qna-list dl dt strong,
#wrap .contents .contact dl dt strong {font-size:3.6rem;}
#wrap .contents .qna-list dl dd > div {width:100%;}
#wrap .contents .company-info {margin:20rem 0 10rem;}
#wrap .contents .contact + .company-info {margin:7.5rem 0 10rem;}
#wrap .contents .company-info ul li {display:inline-block; width:100%; line-height:5rem; padding-left:7rem; position:relative; font-size:3.6rem; font-weight:300; color:#fff;}
#wrap .contents .company-info ul li:before {position:absolute; left:0; top:50%; background-position:0 0; background-size:100% auto; background-repeat:no-repeat; content:'';}
#wrap .contents .company-info ul li.icon-tel:before {width:18px; height:18px; margin-top:-9px; background-image:url('../img/ico-tel.png');}
#wrap .contents .company-info ul li.icon-mail:before {width:20px; height:16px; margin-top:-8px; background-image:url('../img/ico-mail.png');}
#wrap .contents .company-info ul li.icon-address:before {width:16px; height:22px; margin-top:-11px; background-image:url('../img/ico-anchor.png');}
#wrap .contents .company-info ul li + li {margin-top:3.5rem;}
#wrap .contents .btn-wrap {margin-top:10rem;}

#wrap .contents .news-list ul li {background-color:#753cbe; padding:5rem 4rem; color:#fff; border-radius:15px; box-shadow:3px 3px 7px 2px rgba(0, 0, 0, 0.3);}
#wrap .contents .news-list ul li strong {max-width:100%; overflow:hidden; text-overflow:ellipsis; word-break:keep-all; white-space:nowrap; font-size:4rem; font-weight:400;}
#wrap .contents .news-list ul li span {margin-top:3.5rem; font-size:3.2rem; font-weight:300; color:rgba(255, 255, 255, 0.5);}
#wrap .contents .news-list ul li + li {margin-top:20px;}
#wrap .contents .news-list .btn-wrap {margin-bottom:12rem;}

#wrap .contents .view .board-contents-head {padding:5rem 0; color:#fff; position:relative;}
#wrap .contents .view .board-contents-head:before,
#wrap .contents .view .board-contents-head:after {position:absolute; width:auto; height:2px; background-color:#8e76ac; left:-4rem; right:-4rem; content:'';}
#wrap .contents .view .board-contents-head:before {top:0;}
#wrap .contents .view .board-contents-head:after {bottom:0;}
#wrap .contents .view .board-contents-head strong {max-width:100%; overflow:hidden; text-overflow:ellipsis; word-break:keep-all; white-space:nowrap; font-size:4rem;}
#wrap .contents .view .board-contents-head span {margin-top:3.5rem; font-size:3.2rem; font-weight:300; color:rgba(255, 255, 255, 0.5);}
#wrap .contents .view .board-contents-body {padding:10rem 0;}
#wrap .contents .view .board-contents-body img {max-width:100%;}
#wrap .contents .view .board-contents-body * {font-size:3.6rem; font-weight:300; color:#fff; line-height:1.3;}

#wrap .contents .view .btn-wrap {margin-bottom:12rem;}


/*select*/
.select-wrap {position:relative; display:inline-block; width:auto; height:60px; vertical-align:top; font-size:0;}
.select-wrap.col-2 {width:49%;}
.select-wrap.col-3 {width:32%;}
.select-wrap.col-3x2 {width:66%;}
.select-wrap[class*=col-] select {min-width:auto;}
.select-wrap label {position:absolute; display:inline-block; *display:inline; *zoom:1; left:0; top:0; width:100%; height:100%; z-index:10;}
.select-wrap label:after {position:absolute; display:inline-block; right:0px; top:26px; border-color:transparent; border-width:13px 11px 0 11px; border-style:solid; border-top-color:#fff; content:'';}
.select-wrap select {position:relative; display:inline-block; min-width:180px; width:100%; padding:0 25px 0 0; line-height:60px; height:60px; border-width: 0 0 1px 0; border-color:rgba(255, 255, 255, 0.5); border-style:solid; color:#fff; z-index:10; font-size:4rem;}
.select-wrap select option {background-color:#110026;}
.select-wrap select:focus {border-color:rgba(255, 255, 255, 1);}
.select-wrap + span {display:inline-block; vertical-align:middle; margin-left:24px; font-size:1.6rem;}
.select-wrap.col-2 + span,
.select-wrap.col-3 + span {margin-left:2%;}
.select-wrap select::-ms-expand {display: none;}

/*form*/
.form-inline {font-size:0;}
.form-inline > * {display:inline-block;}
.form-inline * {vertical-align:top;}

.text-wrap {width:100%; display:inline-block; height: 50px; position:relative;}
.text-wrap.wide {height: 80px; border:none;}
.text-wrap.half {width:-webkit-calc((100% - 44px) / 2); width:-moz-calc((100% - 44px) / 2); width:calc((100% - 44px) / 2);}
.text-wrap.half2 {width:-webkit-calc((100% - 25px) / 2); width:-moz-calc((100% - 25px) / 2); width:calc((100% - 25px) / 2);}
.text-wrap.col-3 {width:32%;}
.text-wrap.col-3x2 {width:66%;}
.text-wrap.col-3 + span {margin-left:2%;}
.text-wrap.col-3x2 + span {margin-left:20px;}
.text-wrap.has-button {width:-webkit-calc(100% - 220px); width:-moz-calc(100% - 220px); width:calc(100% - 220px); margin-right:20px;}
.text-wrap.purple {border-color:#660d98;}
.text-wrap + .etc {display:inline-block; width:44px; text-align:center; position:relative;}
.text-wrap + .etc:before {position:absolute; top:50%; left:50%; width:10px; height:1px; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); background-color:#000; content:'';}
.text-wrap + .empty {display:inline-block; width:25px;}
.email .text-wrap + span {display:inline-block; width:44px; text-align:center; color:#898989; font-size:1.8rem;}

.text-wrap.unit {padding-right:30px;}
.text-wrap.unit:before {width:30px; line-height:50px; top:0; right:0; position:absolute; font-size:1.6rem; color:#898989; content:'만원';}

.text-wrap input[type=text] {width:100%; height: 100%; padding:0; font-size:4rem; background-color:transparent; border-width: 0 0 1px 0; border-color:rgba(255, 255, 255, 0.5); border-style:solid; color:#fff;}
.text-wrap input[type=text]:focus {border-color:rgba(255, 255, 255, 1);}
.text-wrap input[type=text] + img {position:absolute; right:0; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.text-wrap.wide input[type=text] {padding:0 30px;}

.form-txt-wrap {width:100%; padding:4rem; background-color:#fff;}
.form-txt-wrap textarea {resize:none; width:100%; min-height:50rem; font-size:3.6rem; font-family: 'NanumSquare', '맑은 고딕', '나눔 고딕', sans-serif; font-weight:400;}

/*button*/
[class*= btn-wrap] {display:block; width:100%; text-align:center; font-size:0;}
[class*= btn-type] {display:inline-block; width:100%; border-radius:10px; padding:4rem 0; line-height:1; color:#fff; background-color:#753cbe; border:none; cursor:pointer; font-size:0; transition:all ease-out 0.2s; -webkit-transition:all ease-out 0.2s; -moz-transition:all ease-out 0.2s; -ms-transition:all ease-out 0.2s;}
[class*= btn-type] em {display:inline-block; line-height:1; font-size:4rem; vertical-align:middle; position:relative; font-weight:700;}
[class*= btn-type]:not(.default) em::before {width:20px; height:13px; background-image:url('../img/arrow-right.png'); background-repeat:no-repeat; background-size:100% auto; position:absolute; top:50%; right:-40px; margin-top:-7px; content:'';}
[class*= btn-type].purple {background-color:#753cbe;}
[class*= btn-type].mint {background-color:#00ccc6;}
[class*= btn-type].deepGreen {background-color:#00605d;}
[class*= btn-type].transparent {background-color:transparent; color:#888093; border:1px solid currentColor;}

[class*= btn-arrow] {display:inline-block; width:49px; height:25px; position:relative; background-color:transparent;}
[class*= btn-arrow]::before,
[class*= btn-arrow]::after {position:absolute; top:10px; width:30px; height:4px; background-color:currentColor; content:'';}
[class*= btn-arrow]::before {right:0; transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);}
[class*= btn-arrow]::after {left:0; transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg);}

.btn-arrow-purple {color:#8e76ac;}
.btn-arrow-purple2 {color:#b880ff;}
.btn-arrow-mint {color:#c5edf1;}

/*motion*/
.setAnimate,
.fadeIn {opacity:0;}
[class*=aniLeft] {transform:translateX(-100%); -webkit-transform:translateX(-100%); -moz-transform:translateX(-100%); -ms-transform:translateX(-100%);}
[class*=aniRight] {transform:translateX(100%); -webkit-transform:translateX(100%); -moz-transform:translateX(100%); -ms-transform:translateX(100%);}
[class*=aniUp] {transform:translateY(100%); -webkit-transform:translateY(100%); -moz-transform:translateY(100%); -ms-transform:translateY(100%);}
[class*=aniDown] {transform:translateY(-100%); -webkit-transform:translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%);}
.zoomIn .item {opacity:0; transform:scale(0.6); -webkit-transform:scale(0.6); -moz-transform:scale(0.6); -ms-transform:scale(0.6);}

/*progress bar*/
.dimmed {width:100%; height:100%; overflow:hidden; position:fixed; top:0; left:0; z-index:888; background-color:#110026;}
.dimmed_trans {display:none; width:100%; height:100%; overflow:hidden; position:fixed; top:0; left:0; z-index:100; background-color:#110026; opacity:0.8;}
.progressBar {display: inline-block; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); width: 80px; height: 80px; z-index:999;}
.progressBar i {position: absolute; top: 33px; width: 13px; height: 13px; border-radius: 50%; background: #fff; animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.progressBar i:nth-child(1) {left: 8px; animation: progressBar1 0.6s infinite;}
.progressBar i:nth-child(2) {left: 8px; animation: progressBar2 0.6s infinite;}
.progressBar i:nth-child(3) {left: 32px; animation: progressBar2 0.6s infinite;}
.progressBar i:nth-child(4) {left: 56px; animation: progressBar3 0.6s infinite;}

@keyframes progressBar1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes progressBar2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes progressBar3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*ie9 이하*/
#legacy-IE {position:fixed; top:auto; left:0; bottom:0; width:100%; padding:10px 0; text-align:center; background-color:#e5e5e5; color:#000; z-index:9999;}
#legacy-IE a {color:blue;}

@media only screen and (min-width:562px){
	[class*=inner] {padding:0 6rem;}
	#wrap .contents .view .board-contents-head:before,
	#wrap .contents .view .board-contents-head:after {left:-6rem; right:-6rem;}
}
@media only screen and (min-width:769px){
	html {font-size:62.5%;}

	.pc-only {display:block !important;}

	main .heading > div {padding:510px 0 75px;}
	main .heading > div::before {height:340px; top:100px;}
	main .heading .btn-wrap {margin-top:60px;}

	main .container {margin-top:-webkit-calc(700px - 100vh); margin-top:-moz-calc(700px - 100vh); margin-top:-ms-calc(700px - 100vh);}

	main .nftContents .feature .art span {width:262px; height:264px;}
	main .nftContents .feature .nft span {width:248px; height:250px;}

	#wrap .contents .company-info ul li.icon-tel:before {width:36px; height:36px; margin-top:-18px;}
	#wrap .contents .company-info ul li.icon-mail:before {width:40px; height:32px; margin-top:-16px;}
	#wrap .contents .company-info ul li.icon-address:before {width:32px; height:44px; margin-top:-22px;}
	#wrap .contents .company-info ul li + li {margin-top:3.5rem;}

	#wrap .contents .view .board-contents-head:before,
	#wrap .contents .view .board-contents-head:after {height:4px;}

	[class*= btn-type] em::before {width:31px; height:18px; margin-top:-10px;}
}
@media only screen and (min-width:1025px){
  main .contents .right {width:50%;}
}
@media only screen and (min-width:1681px){
	main .nftContents .nft-contents:after {display:block; clear:both; content:'';}
	main .nftContents .nft-contents li {width:48%; float:left;}
	main .nftContents .nft-contents li + li {margin-top:0;}
	main .nftContents .nft-contents li:nth-of-type(even) {margin-left:2%; float:right;}
	main .nftContents .nft-contents li:nth-of-type(2n+1) {margin-left:0; clear:both;}
	main .nftContents .nft-contents li:nth-of-type(2) ~ li {margin-top:6rem;}
}
@media only screen and (orientation:landscape){
  header nav {padding:3rem 3rem 66px 3rem;}
  header nav .category {padding:2rem 0; max-height:-webkit-calc(100vh - 30rem); max-height:-moz-calc(100vh - 30rem); max-height:calc(100vh - 30rem);}
}
@media only screen and (orientation:landscape) and (max-height:640px){
  .swiper-pagination {display:none !important;}
}